body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
}

.col {
  height: 80px;
  width: 80px;
  border: 1px solid aliceblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 5px;
  cursor: pointer;
}

.col:hover {
  scale: 1.2;
  transition: 0.4s all;
}

#header {
  color: aliceblue;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
